# Core functionality - changes here should be rare!
/src/app.py                   @nox-e
/src/backend/database.py      @nox-e
/src/backend/routers/auth.py  @nox-e

# The frontend will need refactored soon to be more object oriented.
/src/static/   @nox-e
